<%- include("templates/header") %>
<div>
  <h4>Users: </h4>
</div>
<ul class="collection">
  <% let i=0; for(i=0; i < users.length; i++) { %>
  <li class="collection-item avatar">
    <%- include('templates/user', {user: users[i]}) %>
  </li>
  <% } %>
</ul>
<%- include("templates/footer") %>
