<%- include("templates/header") %>

<div class="container" style="margin-top: 180px">
  <div class="row">
    <div class="col s12 center-align">
      <h2 class="text-darken-3">403 Access Denied</h2>
      <p class="flow-text">Sorry, you do not have permission to access this resource.</p>
      <a class="waves-effect waves-light btn-large teal darken-1" href="/">Go back home</a>
    </div>
  </div>
</div>

<%- include("templates/footer") %>
