<%- include("templates/header") %>
<div class="container" style="margin-top: 180px">
  <div class="row">
    <div class="col s12 center-align">
      <h2 class="text-darken-3">Oops!</h2>
      <p class="flow-text">Invalid email/password combination</p>
      <a class="waves-effect waves-light btn-large teal darken-1" href="/login">Try Again</a>
    </div>
  </div>
</div>
<%- include("templates/footer") %>