<%- include("templates/header") %>

    <div class="container" style="margin-top: 40px">
        <br><br>
        <h1 class="header center">Create User</h1>
        <form action="/submitUser" method="post">
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username">Name</label>
                </div>
                <div class="input-field col s12 m6 offset-m3">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m6 offset-m3">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
                <div class="col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <%- include("templates/footer") %>